<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" href="stylesheets/curve-force1.css">
</head>

<body>
    <div id="transmission-chain-chart">        
    </div>
</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="javascripts/curve-force1.js"></script>
</html>