<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    <%=title %>
  </title>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
  <style>
    body {
      margin: 0 auto
    }

    #vis {

      /* background-color: #ffffff; */
      /*2*/
      background-color: #007ABC;

      padding: 10px 10px;
      /* border-radius: 50px; */
      overflow: hidden;
      /* max-width: 417px; */
      height: 736px;
    }

    .nodetext {
      fill: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    path.link {
      fill: none;
      stroke-width: 2px;
    }

    #reset-btn {
      position: absolute;
      left: 40px;
      top: 40px;
      border-radius: 2px;
      background: #007ABC;
      box-shadow: none;
      border: none;
      font-size: 20px;
      line-height: 28px;
      padding: 0 10px;
      color: #FFF;


      /*2*/
      position: absolute;
      left: 40px;
      top: 40px;
      border-radius: 2px;
      background: #A4CE4E;
      box-shadow: none;
      border: none;
      font-size: 20px;
      line-height: 28px;
      padding: 0 10px;
      color: #FFF;
      border: 2px solid white;
      border-radius: 10px;

    }

    #reset-btn:hover {
      text-decoration: underline;
      /* background: #0090DA; */
      /*2*/
      background: #B7DD58;
    }
  </style>
</head>


<body>
  <!-- container for force layout visualisation  -->
  <section id="vis">
    <button id="reset-btn">Reset</button>
  </section>

  <script>
    // some colour variables
    var tcBlack = "#130C0E";

    // rest of vars
    var w = window.innerWidth,
      h = window.innerHeight,
      maxNodeSize = 50,
      x_browser = 20,
      y_browser = 25,
      root;

    var vis;
    var force = d3.layout.force();
    var zoom = d3.behavior.zoom();
    vis = d3.select("#vis")
      .append("svg")
      .attr("width", "100%")
      .attr("height", "100%");


    d3.json("data/marvel.json", function (json) {

      root = json;
      root.fixed = true;
      root.x = w / 2;
      root.y = h / 4;


      // Build the patha
      var defs = vis.insert("svg:defs")
        .data(["end"]);


      defs.enter().append("svg:path")
        .attr("d", "M0,-5L10,0L0,5")
        .attr("fill", "#333")
        .style("stroke", "none");;

      update();
    });


    /**
     *   
     */
    function update() {
      var nodes = flatten(root),
        links = d3.layout.tree().links(nodes);

      // Restart the force layout.
      force.nodes(nodes)
        .links(links)
        .gravity(0)
        .charge(-1500)
        .linkDistance(80)
        .friction(0.5)
        .linkStrength(function (l, i) {
          return 1;
        })
        .size([w, h])
        .on("tick", tick)
        .start();

      var path = vis.selectAll("path.link")
        .data(links, function (d) {
          return d.target.id;
        });

      path.enter().insert("svg:path")
        .attr("class", "link")
        // .attr("marker-end", "url(#end)")
        .style("stroke", "#eee");


      // Exit any old paths.
      path.exit().remove();



      // Update the nodes…
      var node = vis.selectAll("g.node")
        .data(nodes, function (d) {
          return d.id;
        });


      // Enter any new nodes.
      var nodeEnter = node.enter().append("svg:g")
        .attr("class", "node")
        .attr("transform", function (d) {
          return "translate(" + d.x + "," + d.y + ")";
        })
        .on("click", click)
        .call(force.drag);

      // Append a circle
      nodeEnter.append("svg:circle")
        .attr("stroke", "#fff")
        .attr("stroke-width", function (d) {
          return Math.sqrt(d.size) / (10 * 4) || (4.5 / 4);
        })
        .attr("r", function (d) {
          return Math.sqrt(d.size) / 10 || 4.5;
        })
        .style("fill", "#eee");



      // Append images
      var images = nodeEnter.append("svg:image")
        .attr("xlink:href", function (d) {
          return d.img;
        })
        .attr("x", function (d) {
          return -25;
        })
        .attr("y", function (d) {
          return -25;
        })
        .attr("height", 50)
        .attr("width", 50);

      //zoom
      // vis.attr("viewBox", [0, 0, w, h])
      // .call(zoom.scaleExtent([0.4, 8])
      //   .scale(0.4)
      //   .on("zoom", function () {
      //     d3.selectAll("g").attr("transform", d3.event.transform);
      //     d3.selectAll("path").attr("transform", d3.event.transform);
      //   }))


      // make the image grow a little on mouse over and add the text details on click
      var setEvents = images
        // Append hero text
        .on('click', function (d) {
          d3.select("h1").html(d.hero);
          d3.select("h2").html(d.name);
          d3.select("h3").html("Take me to " + "<a href='" + d.link + "' >" + d.hero + " web page ⇢" + "</a>");
        })

        .on('mouseenter', function () {
          // select element in current context
          d3.select(this)
            .transition()
            .attr("x", function (d) {
              return -60;
            })
            .attr("y", function (d) {
              return -60;
            })
            .attr("height", 100)
            .attr("width", 100);
        })
        // set back
        .on('mouseleave', function () {
          d3.select(this)
            .transition()
            .attr("x", function (d) {
              return -25;
            })
            .attr("y", function (d) {
              return -25;
            })
            .attr("height", 50)
            .attr("width", 50);
        });

      // Append hero name on roll over next to the node as well
      nodeEnter.append("text")
        .attr("class", "nodetext")
        .attr("x", x_browser)
        .attr("y", y_browser + 15)
        .attr("fill", tcBlack)
        .text(function (d) {
          return d.hero;
        });


      // Exit any old nodes.
      node.exit().remove();


      // Re-select for update.
      path = vis.selectAll("path.link");
      node = vis.selectAll("g.node");

      function tick() {


        path.attr("d", function (d) {

          var dx = d.target.x - d.source.x,
            dy = d.target.y - d.source.y,
            dr = Math.sqrt(dx * dx + dy * dy);
          return "M" + d.source.x + "," +
            d.source.y +
            "A" + dr + "," +
            dr + " 0 0,1 " +
            d.target.x + "," +
            d.target.y;
        });
        node.attr("transform", nodeTransform);
      }
    }


    /**
     * Gives the coordinates of the border for keeping the nodes inside a frame
     * http://bl.ocks.org/mbostock/1129492
     */
    function nodeTransform(d) {
      d.x = Math.max(maxNodeSize, Math.min(w - (d.imgwidth / 2 || 16), d.x));
      d.y = Math.max(maxNodeSize, Math.min(h - (d.imgheight / 2 || 16), d.y));
      return "translate(" + d.x + "," + d.y + ")";
    }

    /**
     * Toggle children on click.
     */
    function click(d) {
      if (d.children) {
        d._children = d.children;
        d.children = null;
      } else {
        d.children = d._children;
        d._children = null;
      }

      update();
    }


    /**
     * Returns a list of all nodes under the root.
     */
    function flatten(root) {
      var nodes = [];
      var i = 0;

      function recurse(node) {
        if (node.children)
          node.children.forEach(recurse);
        if (!node.id)
          node.id = ++i;
        nodes.push(node);
      }

      recurse(root);
      return nodes;
    }

    function idLowerCase(json) {
      var jsonObject = json;
      jsonObject.name = jsonObject.name.replace(" ", "").replace(/[^0-9a-zA-Z]/, "-").toLowerCase();
      if (jsonObject.children != undefined && jsonObject.children.length != 0) {
        for (key in jsonObject.children) {
          jsonObject.children[key] = idLowerCase(jsonObject.children[key]);
        }
      }
      return jsonObject;
    }
  </script>

</body>

</html>