body {
    margin: 0 auto;
    font-family: simsun
}

#transmission-chain-chart{
    background-color: #fff
}

text{
    font-family: simsun;
}

.level{
    float: left;
    font-size:12px;
    width: 16%;    
    box-sizing: border-box;
}

.level-circle{
    width : 10px;
    height : 10px;
    float : left;
    margin : 3px;    
    border : #333 solid 2px;
    border-radius : 10px;
}
.level-text{
    float: left;
}

#legends{
    overflow: hidden;
}

#chart-reset-btn {
    text-decoration: underline;
    background: #007ABC;   
    font-size: 20px;
    line-height: 28px;
    padding: 0 10px;
    color: #FFF;
    border: 2px solid white;
    border-radius: 10px;
    border-color:#999;
    margin: 10px;
}