
body {
  margin: 0;
}

div.d3-force-graph {
  background-color: #007ABC;
  margin: 10px 10px;
  border-radius: 50px;
  overflow: hidden;
  max-width: 375px;
  height: 647px;
}

svg {
  height:100%;
  width: 100%;
}

circle {
  position: relative;
}

line,
marker {
  stroke: white;
}

path {
  fill: white;
  opacity: 0.7
}

.tooltip {
  fill:#B7DD58;
  stroke: #fff;
  fill-opacity: 0.8;
  opacity: 0;
  display: none;
  z-index: 1000;
  position: absolute;
  padding: 5px;
  font-family: simsun;
  font-size: 14px;
  color: #aaa;
  background-color: rgb(255, 255, 255);
}

.tooltip.tooltip-text {
  width: fit-content;
  fill: black;
  stroke: none;
}

.tooltip:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 12px solid rgb(255, 255, 255);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

#reset-btn{
  position: absolute;
  left: 40px;
  top: 40px;
  border-radius: 10px;
  background: #A4CE4E;
  box-shadow: none;
  border: 2px solid white;
  font-size: 20px;
  line-height: 28px;
  padding: 0 10px;
  color: #333333;
}

#reset-btn:hover{
  text-decoration: underline;
  background: #B7DD58;
}